body {
  background-color: #EEEEEE;
  line-height: 30px;
  margin:0 auto;
  max-width: 900px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

header {
  text-align: center;
  margin: 20px;
}

img {
  display: block;
}

figcaption {
  text-align: center;
}

h1, h3 {
  text-align: center;
}

figure {
  background-color: white;
  padding: 80px;
}

#image {
max-width: 100%;
height: auto;
}

